@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><h4>Application Installation Guide</h4></p>
<ol>
    <li><p>Download the soure code in GitHub from <a>HERE</a> and unzip the downloaded file to your local.</p></li>
    <li><p>Launch Visual Studio 2017 and open the solution that you have just donwloaded.</p></li>
    <li><p>Build the solution and then press F5 to run the application.</p></li>
</ol>
<br/>

<p><h4>Application User Guide</h4></p>
<ol>
    <li><p>Enter a URL and some keywords with semi colon separated.</p></li>
    <li><p>Click on Submit button to search the occurance of the keywords.</p></li>
    <li><p>The total occurance of each keyword will be listed down in below table.</p></li>
    <li><p>You can sort the Keyword or Occurance and filter the keyword.</p></li>
</ol>
