@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Felix Cheah</h3>

<address>
    13, Jalan PU 1/1C<br />
    Taman Puchong Utama<br />
    <abbr title="Phone">Mobile:</abbr>
    +6012 333 7227
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">hscheah76@gmail.com</a><br />
</address>
