
@{
    ViewData["Title"] = "Seo Analyser";
}

<style>
    #viewContent input, #viewContent button {
        font-size: 16px;
    }

    #viewContent h4 {
        margin: 10px 0;
    }

    #viewContent .textAlignCenter {
        text-align: center;
    }

    #viewContent .textAlignCenter img {
        display: none;
        width: 100px;
    }
</style>

<div id="viewContent">
    <h2 class="text-center">Seo Analyser</h2>
       
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-1">URL</label>
            <div class="input-group col-md-11">
                <input id="inputUrl" type="text" placeholder="Enter URL" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-1">Keywords</label>
            <div class="input-group col-md-11">
                <input id="inputKeyword" type="text" placeholder="Enter Keywords (e.g. and;or;the)" class="form-control" />
                <label>(E.g. the;and;to without space)</label> <br/>
                <input type="checkbox"
                       name="disableAnalyse"
                       id="disableAnalyse"
                       value="Disable Analyse"
                       class="text-center"/>
                <label style="font-weight: normal;" for="disableAnalyse">Disable SEO Analyse</label>
            </div>
        </div>
    </div>
    <div id="message" style="color: red; text-align: center; "></div>
    <div class="form-group text-center">
        <div class="col-md-1"></div>
        <button id="submit" class="btn btn-primary">Submit</button>
        <button id="reset" class="btn btn-warning">Reset</button>
    </div>
    
    <div class="tab-content">
        <div class="tab-pane fade in active table-responsive" id="tabResult">
            <table id="datatableResult" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
        </div>
    </div>

    <div class="textAlignCenter">
        <img src="~/images/loading.gif" alt=""/>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadDatatable();

        $("#reset").click(function (e) {
            $("#inputUrl").val("");
            $("#inputKeyword").val("");
            $("#message").html("");
            $("img").hide();
            ClearResult();
        });

        $("#submit").click(function (e) {
            ClearResult();

            var validate = Validate();
            $("#message").html(validate);

            var urlStr = $("#inputUrl").val();
            var keywordList = $("#inputKeyword").val().split(';');

            if (validate.length === 0) {
                $.ajax({
                    type: "POST",
                    url: "/Home/GetUrlSource",
                    data: { url: urlStr, keywordList: keywordList, disableAnalyse: $('#disableAnalyse').prop('checked') },
                    dataType: "html",
                    success: function (result, status, xhr) {
                        ClearResult();

                        var resultObj = JSON.parse(result);
                        if (resultObj.data.length > 0) {
                            resultObj.data.forEach(function (item) {
                                $('#datatableResult').dataTable().fnAddData(item);
                            });
                        } else if (resultObj.errorMessage) {
                            $("#message").html(resultObj.errorMessage);
                        }
                    },
                    error: function (xhr, status, error) {
                        $("#message").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText);
                    }
                });
            }
        });

        $(document).ajaxStart(function () {
            $("img").show();
        });

        $(document).ajaxStop(function () {
            $("img").hide();
        });


        function Validate() {
            var errorMessage = "";
            if ($("#inputUrl").val() === "") {
                errorMessage += "► Enter URL<br/>";
            }
            else if (!(isUrlValid($("#inputUrl").val()))) {
                errorMessage += "► Invalid URL<br/>";
            }

            return errorMessage;
        }

        function isUrlValid(url) {
            var urlregex = new RegExp(
          "^(http[s]?:\\/\\/(www\\.)?|ftp:\\/\\/(www\\.)?|www\\.){1}([0-9A-Za-z-\\.@@:%_\+~#=]+)+((\\.[a-zA-Z]{2,3})+)(/(.)*)?(\\?(.)*)?");
            return urlregex.test(url);
        }

        function ClearResult() {
            $('#datatableResult').dataTable().fnClearTable();
        }
    });

    function LoadDatatable() {
        $('#datatableResult').DataTable({
            "searching": true,
            "ordering": true,
            "bDestroy": true,
            "bProcessing": true,
            "responsive": true,
            "ajax": {
                "url": '@Url.Action("GetRecords", "Home")',
                "type": "get",
                "datatype": "json"
            },
            "columns": [
                { "title": "Keyword", "data": "keyword" },
                { "title": "Occurance", "data": "occurance" }
            ]
        });
    }
</script>